.col.info a {
    display: block;
}

form.p-4 {
    background-color: #868181 !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.card-img-top {
    height: 250px;
}

.card-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.card-text {
    flex-grow: 1;
}

.card-link {
    display: block;
    /* se convierte en un bloque para ocupar todo el espacio de la imagen */
}


.animated-background {
    background: linear-gradient(45deg, #876d65, #ad7575, #bfbff0, #26dda0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* cambios*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background: rgb(241, 239, 239);
    box-shadow: 0 5px 15px rgb(54, 30, 66);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(195, 127, 230);
}

#navbar li a.active::after,
#navbar li a.hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(195, 127, 230);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

input {
    width: 150px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

#headerp {
    background-image: url("../imagenes/banner01.jpg");
    opacity: 90%;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}


footer {
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;

}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(54, 30, 66);
    margin: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid rgb(109, 52, 121);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: blueviolet;
}

footer .copy {
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: beige;
        box-shadow: 00 40px 60px pink;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 30px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: grey;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    #carrito {
        display: none;
    }

    #headerp {
        height: 25vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }


    #producto1 .pro-container {
        justify-content: center;
    }

    #producto1 .pro {
        margin: 15px;
    }

}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #headerp {
        padding: 0 20px;
        background-position: 55%;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    #carrito {
        display: none;

    }

    #product1 .pro {
        width: 100%;
    }

    footer .copy {
        text-align: start;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100px;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100px;
    }

}